# FreeMarkW binderized lights HAL for Asus X00T & maybe X01B
# HAL has support for RG led and LCD Backlight
# For perfect work need setup next options in framework:
#       config_defaultNotificationColor = #ff00ff00
#       config_notificationsBatteryLowARGB = 0xFFFF0000
#       config_notificationsBatteryMediumARGB = 0xFF50FF00
#       config_notificationsBatteryFullARGB = 0xFF00FF00
# Features for setup brightness, speed and color
# are is disabled - X00T don't support it!
# From Russia with LOVE :D

service light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.fmw-RG
    class hal
    user system
    group system 